
.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: black;
  }
  
  .product-card {
    width: 250px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-card img {
    width: 100%;
    max-height: 150px; 
    object-fit: contain;
  }
  
  .product-card h3 {
    font-size: 25px;
    margin: 25px 0;
    flex-grow: 1;
    font-family: serif;
  }
  
  .product-card p {
    font-size: 16px;
    font-family: serif;
    color: #000000;
    max-height: 60px; 
    overflow: auto;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: center;
  }

  .product-rating {
    font-size: 15px;
    font-weight: bold;
    font-family: serif;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
  .product-card a {
    display: inline-block;
    padding: 8px 12px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: auto;
  }
  
  .product-card a:hover {
    background: #0056b3;
  }
  