.product-card {
  width: 300px; 
  height: 450px; 
  background: white;
  border-radius: 10px;
  border: 1px solid #bbb;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.image-container {
  width: 200px; 
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  background-color: #f8f8f8; 
  border-radius: 10px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

.product-card h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
}

.product-card p {
  font-size: 15px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
}

.btn-group button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  transition: 0.3s ease;
}

.btn-group button:hover {
  transform: scale(1.1);
}

.btn-like {
  margin-right: 200px;
}

.btn-buy {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.btn-buy:hover {
  background: #004186;
}
